html {
    font-family: "Lucida Console", Courier, monospace;
}

body{
    background-image:url("../asset/images/topography.svg"),
        linear-gradient(110deg, #f93d66, #6d47d9);
    font-weight: 900;
    font-size: 20px;

    color: black;
    text-shadow: 0 2px 0 rgba(0,0,0,0.07);
}

button{
    background: #ffc600;
    border: 0;
    padding: 10px 20px;
}

.wrapper{
    text-transform: uppercase;
    padding: 10px;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}